<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<body>

<f:section name="Main">

  <f:if condition="{query}">
    <f:then>
      <f:if condition="{filteredMediaCount}">
        <f:then>
          <p>
            <f:translate key="list.query_results" arguments="{0: '{filteredMediaCount}', 1: '{query}'}"/>:
          </p>
        </f:then>
        <f:else>
          <p>
            <f:translate key="list.query_results" arguments="{0: '{query}'}"/>:
          </p>
        </f:else>
      </f:if>
    </f:then>
    <f:else>
      <f:if condition="{filteredMediaCount}">
        <f:then>
          <f:translate key="list.no_query_with_results" arguments="{0: '{filteredMediaCount}'}"/>:
        </f:then>
        <f:else>
          <f:translate key="list.no_query_with_results" arguments="{0: '{allMediaCount}'}"/>:
        </f:else>
      </f:if>
    </f:else>
  </f:if>

</f:section>
</body>
</html>
